:root {
  --color-titles: #64e1f7;
  --color-text: #f1f1f1;
  --bg-page: #122841;
  --bg-btn: #53607c;
  --bg-content: #122e4e;
  --get-color: #07de37;
  --put-color: #f8b50a;
  --delete-color: #e10c0c;
  --post-color: #0f9eef;
  --numbers: #0f9eef;
  --bg-tags: #1e1e1e;
  --font: "Noto Sans JP", sans-serif;
  --bg-examples: #333333;
}

*,
pre,
code {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
body {
  display: grid;
  grid-template-columns: 13% repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: var(--bg-page);
}

.header {
  grid-area: 1 / 1 / 6 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.nav__list-item {
  color: var(--color-text);
  font-size: 1.125rem;
  font-style: normal;
  line-height: normal;
  padding: 0.9375rem 0;
}
.nav__list-item .get-color {
  color: var(--get-color);
}
.nav__list-item .put-color {
  color: var(--put-color);
}
.nav__list-item .delete-color {
  color: var(--delete-color);
}
.nav__list-item .post-color {
  color: var(--post-color);
}

.nav__methods-container {
  font-size: 0.9375rem;
  padding: 0.3125rem 0 0 0.625rem;
}
.nav__methods-container p {
  padding: 5px 0;
}
.main {
  grid-area: 1 / 2 / 6 / 6;
  display: flex;
  flex-flow: column nowrap;
}

.hero__container {
  width: 100%;
  max-height: 15.625rem;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(85deg, #122841 0%, rgba(15, 158, 239, 0.7) 100%);
  border-radius: 0px 0px 0.9375rem 0.9375rem;
  overflow: hidden;
  position: relative;
}
.hero__title {
  font-weight: 800;
  color: var(--color-titles);
  margin: 1.25rem;
  text-align: left;
  opacity: 0;
}
.hero__description {
  max-width: 500px;
  color: var(--color-text);
  text-align: center;
  opacity: 0;
}

.hero__container:hover > .trailer {
  opacity: 1;
}

.endpoints__container {
  margin: 1.5625rem 0px 0px 1.25rem;
}

.endpoints__title {
  color: var(--color-titles);
  font-weight: normal;
}
.endpoints__title .endpoint {
  color: var(--color-text);
  background: var(--bg-tags);
  padding: 0px 10px;
  margin: 0px 0.9375rem;
}
.endpoints__response-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  position: relative;
}

.endpoints__json {
  color: var(--color-text);
  font-size: 0.8125rem;
  background: var(--bg-examples);
  border-radius: 0.9375rem;
  margin: 1.25rem;
  max-width: 370px;
}
.endpoints__json code {
  padding-right: 1.875rem;
  display: block;
  overflow-y: scroll;
  max-height: 200px;
}
.endpoint__response-example {
  background-color: var(--bg-examples);
  width: 25rem;
  height: 15.25rem;
  margin: 1.25rem;
  border-radius: 0.9375rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
}

.endpoint__image-container {
  margin: 0.625rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
}

.endpoint__image-container > img {
  border-radius: 5px;
  width: 4.375rem;
  height: 6.25rem;
  overflow: hidden;
}
.dark {
  position: absolute;
  display: block;
  content: "";
  width: 4.375rem;
  height: 6.25rem;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(
    201deg,
    rgba(0, 0, 0, 0.75) 2.08%,
    rgba(0, 0, 0, 0.65) 100%
  );
  opacity: 0;
  z-index: 1;
  transition: opacity 300ms ease;
}

.endpoint__anime {
  text-align: center;
  color: var(--color-text);
  margin: 0px .125rem;
}
.endpoint__episodes {
  font-size: 0.625rem;
  color: var(--color-text);
}
.endpoint__number {
  color: var(--numbers);
}

.endpoint__aired {
  position: absolute;
  left: 55px;
  top: 5px;
  width: 10px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 625rem;
  visibility: hidden;
  z-index: 1;
  transition: visibility 200ms ease;
}
.endpoint__aired.true{
  background: var(--get-color);
}
.endpoint__aired.false{
  background: var(--delete-color);
}
.endpoint__info {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  visibility: hidden;
  z-index: 1;
  margin: 10px 0px 0px 0px;
  transition: visibility 200ms ease;
}

.endpoint__image-container:hover .dark,
.endpoint__image-container:hover img,
.endpoint__image-container:hover .endpoint__info,
.endpoint__image-container:hover .endpoint__aired {
  backdrop-filter: blur(0.0625rem);
  opacity: 1;
  visibility: visible;
}

.arrow{
  position: absolute;
  font-size: 1.875rem;
  left: 43%;
}